* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: url(../imgs/siteBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 15px;
}

.header {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 15px;
    padding: 10px 15px;
    background-color: rgba(46, 136, 202, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    &-title {
        color: #ffffff;
        font-size: 20px;
        font-family: sans-serif;

    }

    &-nav {
        &-link {
            text-decoration: none;
            margin: 0 15px;
            color: #ffffff;
            font-size: 20px;
            font-family: sans-serif;

            &:last-child {
                margin: 0;
            }

            &:active {
                color: #d3e1ee;
            }
        }
    }
}

.content {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.contacts {
    background-color: rgba(46, 136, 202, 0.6);
    border-radius: 10px;
    min-height: 500px;
    position: relative;

    &-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        color: #ffffff;
        font-size: 24px;
        font-family: sans-serif;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    &-title {
        color: #ffffff;
        font-size: 20px;
        font-family: sans-serif;

        &-wrp {
            border-bottom: 2px solid #ffffff;
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-btn-new {
        border: 3px solid #ffffff;
        background-color: rgb(46, 136, 202);
        border-radius: 10px;
        padding: 5px 7px;

        color: #ffffff;
        font-size: 16px;
        font-family: sans-serif;
        cursor: pointer;
    }

    &-list {
        padding: 0 15px;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 0;
            border-bottom: 2px solid #ffffff;

            &:last-child {
                border-bottom: none;
            }

            &-txt {
                color: #ffffff;
                font-size: 16px;
                font-family: sans-serif;
            }

            &-btn {
                border: none;
                background-color: transparent;
                fill: #ffffff;
                cursor: pointer;

                margin: 0 15px;

                &:last-child {
                    margin: 0;
                }

                &:active {
                    fill: #bed5df;
                }
            }
        }

    }

}

.search {
    padding: 10px 15px;
    display: flex;

    &-input {
        border-radius: 10px 0 0 10px;
        border: 2px solid #ffffff;
        padding: 5px 7px;
        outline: none;

        color: rgb(46, 136, 202);
        font-size: 16px;
        font-family: sans-serif;
    }

    &-btn {
        border: 3px solid #ffffff;
        background-color: rgb(46, 136, 202);
        border-radius: 0 10px 10px 0;
        padding: 0 7px;

        color: #ffffff;
        font-size: 16px;
        font-family: sans-serif;
        cursor: pointer;
    }
}

.modalwindow {
    width: 400px;
    height: fit-content;
    background-color: rgb(46, 136, 202);
    border-radius: 15px;
    padding: 20px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &-form {
        display: flex;
        flex-direction: column;

        &-btn {
            border: 3px solid #ffffff;
            background-color: rgb(46, 136, 202);
            border-radius: 10px;
            padding: 5px 15px;

            color: #ffffff;
            font-size: 16px;
            font-family: sans-serif;
            cursor: pointer;
        }
    }

    &-title {
        color: #ffffff;
        font-size: 24px;
        font-family: sans-serif;
        margin: 0 0 30px;
    }

    &-btns {
        display: flex;
        justify-content: space-evenly;
    }

    &-input {
        border-radius: 10px;
        border: 2px solid #ffffff;
        padding: 5px 7px;
        outline: none;
        margin: 0 0 20px;

        color: rgb(46, 136, 202);
        font-size: 16px;
        font-family: sans-serif;
    }
}